@import "../config/mixins";

.footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  &__section {
    &__phone {
      @include hover;
    }

    &__title {
      color: var(--secondary-title-color);
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      margin-bottom: 20px;
    }

    &__items {
      display: flex;
      gap: 50px;

      &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        &__item {
          @include hover;

          a.is-active {
            font-weight: 700;
            @include gradient-text;
          }
        }
      }
    }

    &:last-child {
      justify-self: flex-end;
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .footer {
        &__socials {
          display: flex;
          justify-content: flex-end;
          gap: 14px;
        }
      }
    }
  }

  &__socials__item {
    @include hover;
    display: inline-flex;
  }

  &__section__address {
    margin-top: 10px;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    padding: 40px 0 20px 0;
    @include Montserrat;

    &__policy {
      color: var(--secondary-title-color);
    }

    a {
      text-decoration: underline;
      @include hover;
    }
  }
}

@media (max-width: 992px) {
  .footer {
    &__wrapper {
      background-color: var(--primary-background-color);
      z-index: 1;
      padding: 30px 0;
    }

    grid-template-columns: 1fr;
    gap: 30px;

    &__section {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &:last-child {
        text-align: left;
        justify-self: flex-start;
        justify-content: flex-start;
      }

      &__items {
        gap: 25px;
      }
    }

    &__socials {
      justify-content: flex-start !important;
    }

    &__bottom {
      text-align: left;
    }
  }
}
